# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/uploads

# misc
.DS_Store
*.pem

# env files
.env

# VS Code
.vscode/